.careerContainer {
  text-align: center;
  padding: 40px;
}

.careerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.careerItem {
  width: 60%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #596a7a;
  text-align: center;
}

.applyBtn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
