header {
  padding: 5px 10px 0px;
  border-bottom: 1px solid rgba($white, 0.2);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 999;
  color: black;
  background-color: white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      order: -1;
      margin-right: auto;
      padding-left: 10px;
    }
    .login-btn{
      margin-left: auto;
      &:hover{
        color: red;
      }
    }

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;

      a {
        gap: 20px;
        margin: 0 $xl;
        color: black;
        text-decoration: none;
      }
    }

    .menu-toggle {
      display: none;
      color: black;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.activeLink {
  position: relative;
  color: rgb(215, 18, 18);
  background-color: rgb(171, 140, 140);
  
  &::after {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
  }
}

@media screen and (max-width: 1200px) {
  header .container nav a {
    margin: 0 $s;
  }
}

@media screen and (max-width: 992px) {
  header {
    .container {
      .menu-toggle {
        display: none;
        margin-left: auto;
      }
      nav {
        display: block;
      }
    }
    
    .openMenu {
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      height: 65vh;
      padding: 10px;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 999;
      
      a {
        width: 100%;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .container {
      .nav{
        display: none;;
      }
      .logo {
        margin-right: auto;
      }
      .openMenu {
        position: absolute;
        top: 85px;
        left: 0;
         width: 100%;
        height: 65vh;
        padding: 10px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: left;
        z-index: 999;
        
        a {
          width: 100%;
          text-align: left;
          padding: 10px 0;
        }
      }
      .menu-toggle {
        margin-left: auto;
        display: block;
      }
    }
  }
}
